body {
    background-color: white;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
}

.container {
    background-color: white;
    padding: 0;
}
.text_center {
  text-align: center;
}

.center {
  margin:0px auto;
  text-align: center;
}
  
/* HEADER */
.page-header {
  padding-bottom: 40px;
    height:270px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}
  
.page-header img {
    top:-165px;
    width: 100%;
    position: absolute;
}      

/* LISTS */
.list-center {
  width:75%;
  margin:0 auto;
  text-align:left;
}
  
div#what-is li {
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 300;
}

/* NAV */
.navbar-nav>li {
    float: none;
}
  
  
a:hover {
  cursor: pointer;
}

.large-text {
  font-size: 50px;
}

/* CAROUSEL */
#project-carousel {
  width: 100%;
}

.carousel-caption {
  background: rgba(150, 150, 150, 0.7);
  padding-top: 0px;
  width: 100%;
  left: 0%;
  right:0%;
}

#connect, #our-projects {
  padding-bottom: 50px;
}

.code-img {
    float: right;
    margin-top: -20px;
}
  
#footer {
    position: relative;
}
  
#footer p {
    position: relative;
    bottom: 0;
    left: 40%
}

/* IMAGE CAPTIONS */
.picture { background-color: #F9F9F9;
border: 1px solid #CCCCCC; padding: 3px;
font: 11px/1.4em Arial, sans-serif; }
.picture img { border: 1px solid #CCCCCC;
vertical-align:middle; margin-bottom: 3px; }
.right { margin: 0.5em 0pt 0.5em 0.8em; float:right; }
.left { margin: 0.5em 0.8em 0.5em 0; float:left; }    


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .adsense-ad {
    display: none !important;
  }

  .page-header img {
    width: 100%;
    position: static;
    margin-top: 100px;
  }
}